body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#staff-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100%);
  height: calc(100%);
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

.arrow {
  cursor: pointer;
  font-size: 72px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#prev-key {
  left: 20px;
}

#next-key {
  right: 20px;
}
