h4{
    margin-top: 5px;
    margin-bottom: 5px;
}

.datump, .namep{
	margin-bottom: 5px;
	}

ul#dynatable-pagination-links-my-final-table{float:right;}
span#dynatable-record-count-my-final-table{float:left;}
span.dynatable-per-page{float:right;}
.nav>li>a{
	padding:1px 15px;
}
div#dynatableAbschnitt{
	max-width:800px;
}
