<div class="preprints-list" id="preprints">
    <h3 class="page-heading">Preprints</h3>
    {% for paper in site.papers reversed %}
        {% if paper.type == "preprint" %}
            <div class="paper-list-paper">
		    <a class="paper-list-title" href="{{site.baseurl}}{{paper.url}}">{{paper.title}}</a>
                <div class="paper-list-reference">
                    <div class="paper-list-preprint">Preprint</div>{% if paper.year %}, <span class="paper-list-year">{{paper.year}}</span>{% else %}, <span class="paper-list-to-appear">to appear</div>{% endif %}.
                </div>
                <div class="paper-list-authors">
                    <ul class="author-list">
                        {% for author in paper.authors %}
                            <li>
                                    {{site.data.authors[author].name}}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
