/**
 * Site header
 */
.site-header {
//    this gray bar is kind of annoying
//    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 20px;
    line-height: 56px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

h1.page-heading {
    font-size: 30px;
}

h2.page-heading {
    font-size: 25px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 24px;

    @include media-query($on-laptop) {
        font-size: 20px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

}

/**
 * Papers
 */

.paper-authors:first-child {
    color: $grey-color;
    width: 100px;
}

.paper-journal-ref:first-child {
    color: $grey-color;
    width: 100px;
}

.advisor-ref:first-child {
    color: $grey-color;
    width: 100px;
}

.journal-title {
    font-style: italic;
}

.journal-volume {
//    font-weight: bold;
}

.journal-issue:before {
    content: "(";
}

.journal-issue:after {
    content: ")";
}

.journal-pages:before {
    content: ":";
}

.paper-conference-ref:first-child {
    color: $grey-color;
    width: 100px;
}

.conference-procname:before {
    content: "(";
}

.conference-procname:after {
    content: ")";
}

.paper-preprint-ref:first-child {
    color: $grey-color;
    width: 100px;
}

.preprint-arxiv-id:before {
    content: "arXiv:";
}

.paper-text:first-child {
    color: $grey-color;
    width: 100px;
}

.paper-abstract {
    display: block;
    margin-top: 1.5 * $spacing-unit;
}

.paper-abstract:before {
    content: "Abstract:";
    color: $grey-color;
//    font-weight: bold;
}

.bibtex {
    display: block;
    margin-top: 1.5 * $spacing-unit;
}

.bibtex:before {
    content: "Bibtex:";
    color: $grey-color;
//    font-weight: bold;
}

.paper-text-sep {
    font-size: $bullet-inline-scale;
}

/**
 * author list
 */
.author-list {
    margin-left: 0;
    padding-left: 0;
    display: inline;
}
.author-list li {
    display: inline;
}

.author-list li:not(:first-child):before {
    content: " • ";
    font-size: $bullet-inline-scale;
}

/**
 * paper lists
 */

.journal-papers-list, .conference-papers-list, .preprints-list {
    margin-bottom: 0.75 * $spacing-unit;
}

.paper-list-journal, .paper-list-conference, .paper-list-preprint {
    display: inline;
}
.paper-list-paper {
    display: block;
    margin-top: 0.5 * $spacing-unit;
}

.paper-list-title {
    display: block;
//    font-weight: bold;
    line-height: 1.25;
}

.paper-list-reference {
    display: block;
    color: $grey-color-dark;
    line-height: 1.25;
}

.paper-list-authors {
    display: block;
    color: $grey-color-dark;
    line-height: 1.25;
}

/**
 * contact information
 */
.contact-info-mailing-address {
    line-height: 1.25;
}

/**
 * Short bio
 */
.short-bio {
    display: block;
    clear: right;
}

/**
 * Picture and navigation stuff
 */
.home-page-picture {
    display: block;
    margin-bottom: 15px;

    .picture {
        float: right;
        max-width: 25%;
        margin-bottom:  $spacing-unit;
    }

    .info {
        display: block;
//        padding-left: 35%;
        line-height: 1.25;
        font-size: 14px;
//        padding-top: 90px;
    }

    .name {
//        font-weight: bold;
        display: none;
    }

    .job, .workplace, .employer, .university, .fachbereich, .group {
        color: $grey-color-dark;
        display: block;
    }

    @include media-query($on-palm) {
        display: none;
    }
}
/**
 * home page
 */
.home {
    .home-research h1 {
        margin-top: $spacing-unit;
    }
}
/**
 * misc page
 */
 dl.simple-deflist {
   display: block;
   margin: 0;
   padding: 0;
   margin-bottom: 15px;
 }

 .simple-deflist dt {
   display: block;
   width: auto;
   float: none;
  clear: none;
  text-align: inherit;
  line-height: 1.25;
  margin: 0;
   margin-top: 0.5 * $spacing-unit;
 }

 .simple-deflist dd {
   display: block;
   width: auto;
   margin: 0 0 0 0;
  padding: 0 0 0 0;
  line-height: 1.25;
 }

 .simple-deflist dd dt{
   line-height: normal;
 margin-bottom: 0;
 }

 .simple-deflist dt:after {
  content: ""; }

  table.padded-table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: .5 * $spacing-unit;
    margin-top: .5 * $spacing-unit;
  }
  .padded-table td {
    padding: 5px;
    text-align: right;
    border: 1px solid black;
  }
  /**
   * https://github.com/Khan/KaTeX/wiki/Font-Options
   */
.katex { font-size: 1em !important;
        line-height: 1 !important;
       }
